@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss";
@import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

/* @layer base { */
html {
  font-family: "Raleway", sans-serif;
}
:root {
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}
.dark {
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}
/* } */

@media only screen and (max-width: 320px) {
  /* For screens smaller than or equal to 768px (typical tablets and mobiles) */
  i {
    color: #000000; /* Black color for mobile and tablet screens */
  }
}

.btn {
  background-color: #009b4d;
  border: none;
  box-shadow: -6px -6px 10px #017d3f, 6px 6px 10px #00000026;
}

.btn:hover {
  box-shadow: 2px 2px 2px #017d3f, -2px -2px 2px #00000026;
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #009b4d;
  padding: 15px;
  border-radius: 5px;
  z-index: 9999;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: red;
  z-index: 9998;
  animation: progress-animation 2s linear forwards;
}

@keyframes progress-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.magicpattern {
  width: 60%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23009b4d%22 stroke-width=%22.4%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22%23009b4dc8%22 d=%22M105 0h105v105H105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M210 0h105v105H210zM315 0h105v105H315zM420 0h105v105H420zM525 0h105v105H525zM630 0h105v105H630zM945 0h105v105H945zM1050 0h105v105h-105zM1260 0h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4dc3%22 d=%22M1365 0h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1470 0h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d72%22 d=%22M1575 0h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1680 0h105v105h-105zM1785 0h105v105h-105zM1890 0h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4df9%22 d=%22M0 105h105v105H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M105 105h105v105H105z%22%2F%3E%3Cpath fill=%22%23009b4d2f%22 d=%22M315 105h105v105H315z%22%2F%3E%3Cpath fill=%22%23009b4d55%22 d=%22M420 105h105v105H420z%22%2F%3E%3Cpath fill=%22none%22 d=%22M525 105h105v105H525z%22%2F%3E%3Cpath fill=%22%23009b4dc4%22 d=%22M630 105h105v105H630z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1050 105h105v105h-105zM1155 105h105v105h-105zM1260 105h105v105h-105zM1365 105h105v105h-105zM1470 105h105v105h-105zM1575 105h105v105h-105zM1680 105h105v105h-105zM1785 105h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d50%22 d=%22M1890 105h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 210h105v105H0zM105 210h105v105H105zM315 210h105v105H315z%22%2F%3E%3Cpath fill=%22%23009b4d0b%22 d=%22M630 210h105v105H630z%22%2F%3E%3Cpath fill=%22none%22 d=%22M735 210h105v105H735zM840 210h105v105H840zM945 210h105v105H945zM1050 210h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d58%22 d=%22M1155 210h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1260 210h105v105h-105zM1365 210h105v105h-105zM1470 210h105v105h-105zM1575 210h105v105h-105zM1680 210h105v105h-105zM1785 210h105v105h-105zM1890 210h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d5e%22 d=%22M105 315h105v105H105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M210 315h105v105H210zM315 315h105v105H315z%22%2F%3E%3Cpath fill=%22%23009b4d37%22 d=%22M420 315h105v105H420z%22%2F%3E%3Cpath fill=%22none%22 d=%22M525 315h105v105H525zM630 315h105v105H630zM735 315h105v105H735zM840 315h105v105H840zM945 315h105v105H945z%22%2F%3E%3Cpath fill=%22%23009b4dd5%22 d=%22M1050 315h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1575 315h105v105h-105zM1680 315h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4dcd%22 d=%22M1785 315h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1890 315h105v105h-105zM0 420h105v105H0zM105 420h105v105H105zM210 420h105v105H210zM420 420h105v105H420zM525 420h105v105H525z%22%2F%3E%3Cpath fill=%22%23009b4de7%22 d=%22M630 420h105v105H630z%22%2F%3E%3Cpath fill=%22none%22 d=%22M735 420h105v105H735z%22%2F%3E%3Cpath fill=%22%23009b4d9a%22 d=%22M840 420h105v105H840z%22%2F%3E%3Cpath fill=%22none%22 d=%22M945 420h105v105H945zM1050 420h105v105h-105zM1155 420h105v105h-105zM1260 420h105v105h-105zM1365 420h105v105h-105zM1470 420h105v105h-105zM1575 420h105v105h-105zM1680 420h105v105h-105zM1785 420h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d5f%22 d=%22M1890 420h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 525h105v105H0zM105 525h105v105H105z%22%2F%3E%3Cpath fill=%22%23009b4d95%22 d=%22M210 525h105v105H210z%22%2F%3E%3Cpath fill=%22none%22 d=%22M315 525h105v105H315zM420 525h105v105H420z%22%2F%3E%3Cpath fill=%22%23009b4da1%22 d=%22M525 525h105v105H525z%22%2F%3E%3Cpath fill=%22none%22 d=%22M840 525h105v105H840zM945 525h105v105H945zM1050 525h105v105h-105zM1155 525h105v105h-105zM1260 525h105v105h-105zM1365 525h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4dea%22 d=%22M1575 525h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1680 525h105v105h-105zM1785 525h105v105h-105zM0 630h105v105H0zM105 630h105v105H105zM210 630h105v105H210zM315 630h105v105H315zM420 630h105v105H420zM525 630h105v105H525zM630 630h105v105H630z%22%2F%3E%3Cpath fill=%22%23009b4de8%22 d=%22M735 630h105v105H735z%22%2F%3E%3Cpath fill=%22%23009b4dae%22 d=%22M840 630h105v105H840z%22%2F%3E%3Cpath fill=%22none%22 d=%22M945 630h105v105H945z%22%2F%3E%3Cpath fill=%22%23009b4d28%22 d=%22M1050 630h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1155 630h105v105h-105zM1260 630h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4de7%22 d=%22M1365 630h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1575 630h105v105h-105zM1785 630h105v105h-105zM1890 630h105v105h-105zM0 735h105v105H0zM105 735h105v105H105zM210 735h105v105H210zM315 735h105v105H315zM420 735h105v105H420zM525 735h105v105H525zM630 735h105v105H630zM735 735h105v105H735zM840 735h105v105H840zM945 735h105v105H945zM1155 735h105v105h-105zM1260 735h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d94%22 d=%22M1365 735h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1575 735h105v105h-105zM1680 735h105v105h-105zM1785 735h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4dc5%22 d=%22M1890 735h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 840h105v105H0zM105 840h105v105H105z%22%2F%3E%3Cpath fill=%22%23009b4d51%22 d=%22M210 840h105v105H210z%22%2F%3E%3Cpath fill=%22%23009b4d11%22 d=%22M315 840h105v105H315z%22%2F%3E%3Cpath fill=%22none%22 d=%22M420 840h105v105H420z%22%2F%3E%3Cpath fill=%22%23009b4d8e%22 d=%22M525 840h105v105H525z%22%2F%3E%3Cpath fill=%22none%22 d=%22M630 840h105v105H630zM840 840h105v105H840z%22%2F%3E%3Cpath fill=%22%23009b4d9a%22 d=%22M945 840h105v105H945z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1050 840h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d88%22 d=%22M1155 840h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d2f%22 d=%22M1260 840h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1365 840h105v105h-105zM1470 840h105v105h-105zM1575 840h105v105h-105zM1680 840h105v105h-105zM1785 840h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4dd5%22 d=%22M1890 840h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4dec%22 d=%22M0 945h105v105H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M105 945h105v105H105zM210 945h105v105H210z%22%2F%3E%3Cpath fill=%22%23009b4db7%22 d=%22M315 945h105v105H315z%22%2F%3E%3Cpath fill=%22none%22 d=%22M420 945h105v105H420zM630 945h105v105H630zM735 945h105v105H735zM945 945h105v105H945zM1050 945h105v105h-105zM1155 945h105v105h-105zM1260 945h105v105h-105zM1365 945h105v105h-105zM1470 945h105v105h-105zM1575 945h105v105h-105zM1680 945h105v105h-105zM1785 945h105v105h-105zM1890 945h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d3c%22 d=%22M0 1050h105v105H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M105 1050h105v105H105zM210 1050h105v105H210z%22%2F%3E%3Cpath fill=%22%23009b4d28%22 d=%22M315 1050h105v105H315z%22%2F%3E%3Cpath fill=%22none%22 d=%22M525 1050h105v105H525zM630 1050h105v105H630zM840 1050h105v105H840zM945 1050h105v105H945zM1050 1050h105v105h-105zM1155 1050h105v105h-105zM1260 1050h105v105h-105zM1365 1050h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4db1%22 d=%22M1470 1050h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1575 1050h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d2a%22 d=%22M1680 1050h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1785 1050h105v105h-105zM1890 1050h105v105h-105zM0 1155h105v105H0zM105 1155h105v105H105z%22%2F%3E%3Cpath fill=%22%23009b4d2e%22 d=%22M210 1155h105v105H210z%22%2F%3E%3Cpath fill=%22none%22 d=%22M315 1155h105v105H315z%22%2F%3E%3Cpath fill=%22%23009b4d8c%22 d=%22M420 1155h105v105H420z%22%2F%3E%3Cpath fill=%22none%22 d=%22M525 1155h105v105H525z%22%2F%3E%3Cpath fill=%22%23009b4d93%22 d=%22M735 1155h105v105H735z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1155 1155h105v105h-105zM1365 1155h105v105h-105zM1470 1155h105v105h-105zM1575 1155h105v105h-105zM1785 1155h105v105h-105zM1890 1155h105v105h-105zM0 1260h105v105H0zM105 1260h105v105H105zM210 1260h105v105H210zM315 1260h105v105H315zM525 1260h105v105H525zM630 1260h105v105H630z%22%2F%3E%3Cpath fill=%22%23009b4d1d%22 d=%22M735 1260h105v105H735z%22%2F%3E%3Cpath fill=%22none%22 d=%22M840 1260h105v105H840z%22%2F%3E%3Cpath fill=%22%23009b4df5%22 d=%22M945 1260h105v105H945z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1050 1260h105v105h-105zM1155 1260h105v105h-105zM1260 1260h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4ddc%22 d=%22M1365 1260h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1470 1260h105v105h-105zM1680 1260h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4da5%22 d=%22M1785 1260h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1890 1260h105v105h-105zM0 1365h105v105H0zM105 1365h105v105H105z%22%2F%3E%3Cpath fill=%22%23009b4d1d%22 d=%22M525 1365h105v105H525z%22%2F%3E%3Cpath fill=%22none%22 d=%22M735 1365h105v105H735z%22%2F%3E%3Cpath fill=%22%23009b4dd2%22 d=%22M840 1365h105v105H840z%22%2F%3E%3Cpath fill=%22%23009b4d4c%22 d=%22M1050 1365h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1155 1365h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d9a%22 d=%22M1365 1365h105v105h-105z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1470 1365h105v105h-105zM1575 1365h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4daf%22 d=%22M1680 1365h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4d41%22 d=%22M1785 1365h105v105h-105z%22%2F%3E%3Cpath fill=%22%23009b4dbc%22 d=%22M1890 1365h105v105h-105z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}
