.input-container {
  position: relative;
  width: 100%;
  border-radius: 8px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  background: transparent;
}

.label {
  font-size: 14px;
  line-height: 24px;
}

.error {
  font-size: 12px;
  line-height: 18px;
  color: #C10000;
}

.success {
  border: 2px solid #2e7d32;
  color: #2e7d32; 
}


.error-state {
  border: 2px solid #C10000;
  color: #C10000; 
}
